
@{
    Layout = null;
}


<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a asp-controller="Users" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-av-timer"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Profiles" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-account-network"></i>
                        <span class="hide-menu">Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Roles" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-account"></i>
                        <span class="hide-menu">Role</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Departments" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu">Department</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Employees" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu">Employee</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Authorizations" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu">Authorizations</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="UploadSTNK" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu">Upload STNK</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Requests" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-view-list"></i>
                        <span class="hide-menu">Request</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Vehicles" asp-action="index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu">Vehicles</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Login/nice-html/ltr/form-basic.html" aria-expanded="false">
                        <i class="mdi mdi-arrange-bring-forward"></i>
                        <span class="hide-menu">Form Basic</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Login/nice-html/ltr/table-basic.html" aria-expanded="false">
                        <i class="mdi mdi-border-none"></i>
                        <span class="hide-menu">Table</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Login/nice-html/ltr/icon-material.html" aria-expanded="false">
                        <i class="mdi mdi-face"></i>
                        <span class="hide-menu">Icon</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Login/nice-html/ltr/starter-kit.html" aria-expanded="false">
                        <i class="mdi mdi-file"></i>
                        <span class="hide-menu">Blank</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Login/nice-html/ltr/error-404.html" aria-expanded="false">
                        <i class="mdi mdi-alert-outline"></i>
                        <span class="hide-menu">404</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
