@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<html>
<head>
    <title>Dashboard - Reimbursement Parking</title>
</head>

<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>
</body>
</html>