
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<html>
<head>
    <title>Department - Reimbursement Parking</title>
</head>
<body>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button style="margin-right:10px" class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Department</button><br><br />
                <div class="table-responsive">
                    <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="col-sm-12">
                            <table id="departmentGrid" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="zero_config_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="DepartmentName: activate to sort column descending" style="width: 0px;" aria-sort="ascending">Department Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 0px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="tbDepartmentBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Form Department</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Id" hidden="hidden">ID</label>
                            <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="DepartmentName">Department Name</label>
                            <input type="text" class="form-control" id="DepartmentName" placeholder="Department Name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add();">Add</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" onclick="Update();">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
</body>
</html>
@section Scripts{
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/datatables/app.min.js"></script>
    <script src="~/datatables/app.init.js"></script>
    <script src="~/datatables/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/datatables/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Login/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Login/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Login/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Login/dist/js/custom.min.js"></script>
    <script src="~/datatables/jquery.dataTables.min.js"></script>
    <script src="~/datatables/dataTables.responsive.min.js"></script>
    <script src="~/datatables/datatable-basic.init.js"></script>
    <script src="~/datatables/datatable-basic.init.js"></script>
    <script src="~/datatables/bootstrap.js"></script>
    <script src="~/js/Department/DepartmentScript.js"></script>
}